<h1>Chapters in <%= @subject.name%></h1>

<%= link_to "New chapter", new_subject_chapter_path(@subject), class: "btn btn-primary"%>

<% if @chapters.any? %>
<ul>
  <% @chapters.each do |chapter| %>
    <li>
      <%= link_to chapter.name, subject_chapter_path(@subject, chapter) %>
      <%= link_to "Edit", edit_subject_chapter_path(@subject, chapter), class: "btn btn-warning"%>
      <%= button_to "Delete", subject_chapter_path(@subject, chapter), method: :delete, class: "btn btn-danger" %>
    </li>
  <% end %>
</ul>
<% else %>
  <p>no chapters found </p>
<% end %>

